*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
:root{
    --bg-imagem: attr(imagem);
}
body{
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.imagem-fundo{
    width: 900px;
    height: 800px;
    background-image: var(--bg-imagem);
    background-size: cover;
}
.texto{
    height: 80px;
}
.texto input{
    font-size: 2rem;
}

.botoes{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.botoes button{
    font-size: 1.5rem;
}
.slide {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .slide.active {
    opacity: 1;
  }
  .carrossel {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }